[submodule "ext/owl"]
	path = ext/owl
	url = https://github.com/owl-project/owl.git
[submodule "ext/rapidobj"]
	path = ext/rapidobj
	url = https://github.com/guybrush77/rapidobj
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
